h1{
    color: black;
    text-align: center;
}
.container{
    text-align: center;
}
input{
    text-align: center;
}
button{
    text-align: center;
    color: black;
    font-size: medium;
    padding: 2px 30px;
    border: 0;
    cursor: pointer;
}
h3{
    text-align: center;
    color: black;
}